#root {
  --accent: #5200A5;
}

body {
  margin: 0px;
  background-color: #141414;
  font-family: "Montserrat", sans-serif;
}

.logo {
  width: 22vw;
  margin-left: calc((100vw - 22vw) / 2);
  margin-top: 6vh;
}

.Board {
  height: 72vh;
  width: 72vh;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.Board > .cell {
  float: left;
  width: calc(72vh / 8);
  height: calc(72vh / 8);
  background-color: #9d9d9d;
}

.Board > .cell-black {
  background-color: var(--accent);
}

.Board > .highlight-cell {
  position: absolute;
  background-color: rgb(77, 255, 77);
  pointer-events: none;
  opacity: .8;
}

.Board > .piece {
  position: absolute;
  width: calc(72vh / 8);
  height: calc(72vh / 8);
  pointer-events: none;
}

.Board > .selected-piece {
  opacity: .5;
}

.Board > .legend {
  position: absolute;
  color: #9d9d9d;
  font-weight: 700;
}

.Board > .legend-num {
  margin-left: -5vh;
  width: 2vh;
  text-align: right;
  padding-top: 3.5vh;
}

.Board > .legend-letter {
  margin-top: calc(72vh + 2vh);
  width: calc(72vh / 8);
  text-align: center;
}

.Game {
  position: relative;
  margin-top: 7vh;
  margin-left: calc((100vw - 72vh) / 2);
}

.Game > .disabler {
  width: 72vh;
  height: 72vh;
  position: absolute;
  top: 0;
}

.Game > .complete-indicator {
  position: absolute;
  height: 8vh;
  width: 8vh;
  border-radius: 5vh;
  background-color: #ffffff;
  margin-left: calc((72vh - 8vh) / 2);
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  transition: top .5s;
}

.Game > .complete-indicator > img {
  width: 5vh;
  height: 5vh;
  margin-left: 1.5vh;
  margin-top: 1.5vh;
  filter: invert(45%) sepia(58%) saturate(3613%) hue-rotate(121deg) brightness(94%) contrast(95%);
}

.Auth {
  position: absolute;
  top: 5vh;
  left: 92.5vw;
}

.Auth > .login-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.Auth > .login-link:hover {
  text-decoration: underline;
}

.Navbar {
  position: absolute;
  top: 0px;
}

.Navbar > .menu {
  list-style-type: none;
  padding-top: 10vh;
}

.Navbar > .menu > li {
  margin-top: 7vh;
}

.Navbar > .menu > li > .menu-point {
  color: #ffffff;
  text-decoration: none;
  font-weight: 800;
  font-size: 2.6vh;
}

.Navbar > .menu > li > .menu-point > img {
  filter: invert(100%) sepia(0%) saturate(3527%) hue-rotate(211deg) brightness(111%) contrast(101%);
  width: 4vh;
  position: absolute;
  margin-top: -.5vh;
}

.Navbar > .menu > li > .menu-point > span {
  padding-left: 7vh;
}

.Navbar > .menu > li > .menu-point > span:hover {
  text-decoration: underline;
}
