#root {
  --accent: #5200A5;
}

body {
  margin: 0px;
}

.Board {
  height: 80vh;
  width: 80vh;
}

.Board > .cell {
  float: left;
  width: calc(80vh / 8);
  height: calc(80vh / 8);
}

.Board > .cell-black {
  background-color: var(--accent);
}

.Board > .highlight-cell {
  position: absolute;
  box-sizing: border-box;
  border: 4.5px solid rgb(146, 172, 0);
  border-style: dashed;
  pointer-events: none;
}

.Board > .piece {
  position: absolute;
  width: calc(80vh / 8);
  height: calc(80vh / 8);
  pointer-events: none;
}

.Board > .selected-piece {
  opacity: .5;
}