#root {
  --accent: #4B7399;
  --white: #d9d9d9;
}

body {
  margin: 0px;
  background-color: #141414;
  font-family: "Montserrat", sans-serif;
  user-select: none;
}

.logo {
  width: 25vw;
  margin-left: calc((100vw - 25vw) / 2);
  margin-top: 5vh;
}

.Board {
  height: 72vh;
  width: 72vh;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.Board > .cell {
  float: left;
  width: calc(72vh / 8);
  height: calc(72vh / 8);
  background-color: #EAE9D2;
}

.Board > .cell-black {
  background-color: var(--accent);
}

.Board > .highlight-cell {
  position: absolute;
  background-color: rgb(77, 255, 77);
  pointer-events: none;
  opacity: .8;
}

.Board > .highlight-hint {
  position: absolute;
  background-color: rgb(255, 251, 15);
  pointer-events: none;
  opacity: 1;
}

.Board > .highlight-drop {
  position: absolute;
  background-color: transparent;
  pointer-events: none;
  opacity: 1;
  width: calc(72vh / 8 - 10px);
  height: calc(72vh / 8 - 10px);
  border: 5px dashed #032b50;
}

.Board > .piece {
  position: absolute;
  width: calc(72vh / 8);
  height: calc(72vh / 8);
  pointer-events: none;
}

.Board > .selected-piece {
  opacity: .5;
}

.Board > .legend {
  position: absolute;
  color: #EAE9D2;
  font-weight: 700;
}

.Board > .legend-num {
  margin-left: -3.5vh;
  width: 2vh;
  text-align: right;
  padding-top: 3.5vh;
}

.Board > .legend-letter {
  margin-top: calc(72vh + 1vh);
  width: calc(72vh / 8);
  text-align: center;
}

.Game {
  position: relative;
  height: 72vh;
  margin-top: 5.5vh;
  margin-left: calc((100vw - 72vh) / 2);
}

.Game > .disabler {
  width: 100vh;
  height: 72vh;
  position: absolute;
  top: 0;
}

.hint-button {
  position:absolute;
  margin-left: 75vh;
  margin-top: -20vh;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: rgb(255, 255, 255);
  background: #ad5389;
  background: linear-gradient(0deg, rgb(20, 95, 41) 0%, rgb(19, 119, 28) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  border-radius: 20em;
  cursor: pointer;
  z-index: 0;
}

.hint{
  position:absolute;
  margin-left: 80vh;
  margin-top:-30vh;
  font-size: 25px;
  color:rgb(255,255,255);
}

.Game > .complete-indicator {
  position: absolute;
  height: 8vh;
  width: 8vh;
  border-radius: 5vh;
  background-color: var(--white);
  margin-left: calc((72vh - 8vh) / 2);
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  transition: top .4s ease-in-out;
}

.Game > .complete-indicator > img {
  width: 5vh;
  height: 5vh;
  margin-left: 1.5vh;
  margin-top: 1.5vh;
  filter: invert(45%) sepia(58%) saturate(3613%) hue-rotate(121deg) brightness(94%) contrast(95%);
}

.race-btn{
  position:absolute;
  margin-left: 40vh;
  margin-top: -38vh;
  align-items: center;
  font-weight: 500;
  font-size: 25px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  z-index: 1;
}

.play-btn {
  position:absolute;
  margin-left: 2vh;
  margin-top: -38vh;
  align-items: center;
  font-weight: 500;
  font-size: 25px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  z-index: 1;
}

.next-puzzle-btn{
  position:absolute;
  margin-left: 75vh;
  margin-top: -8vh;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: rgb(255, 255, 255);
  background: #ad5389;
  background: linear-gradient(0deg, rgb(20, 95, 41) 0%, rgb(19, 119, 28) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  border-radius: 20em;
  cursor: pointer;
  z-index: 0;
}

.blur{
  top:0;
  position:absolute;
  height: 72vh;
  width: 72vh;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  backdrop-filter: blur(2px);
  filter: brightness(50%);
}

.Auth {
  position: absolute;
  top: 3vh;
  left: 78vw;
  z-index: 2;
}

.Auth > .auth-btn {
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
  background-color: var(--accent);
  padding: .9vw;
  padding-left: 1.7vw;
  padding-right: 1.7vw;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 14vw;
}

.Auth > .auth-btn:hover {
  text-decoration: underline;
}

.Auth > .auth-btn:active {
  transform: scale(.95);
}


.Auth > .success {
  border: 3.5px solid green;
}

.Auth > .fail {
  border: 3.5px solid red;
}

.Auth > .auth-modal > .auth-button {
  width: 40%;
  height: 4.5vh;
  margin-top: 5vh;
  margin-left: 30%;
  border: none;
  border-radius: 3px;
  background-color: var(--accent);
  color: var(--white);
  font-size: 2vh;
  cursor: pointer;
}

.Auth > .auth-modal > .auth-button:hover {
  text-decoration: underline;
}

.Auth > .auth-modal > .auth-button:active {
  transform: scale(.95);
}

.Auth > .auth-modal > .auth-switcher {
  width: 100%;
  margin-top: 4vh;
  text-align: center;
  color: var(--white);
  font-size: 1.8vh;
  cursor: pointer;
}

.Auth > .auth-modal > .auth-switcher:hover {
  text-decoration: underline;
}

.Auth > .auth-modal > .auth-input {
  width: calc(80% - 1.6vh);
  margin-left: 10%;
  margin-top: 4vh;
  padding: .8vh;
  outline: none;
  border: none;
  border-bottom: 3px solid var(--accent);
  background: none;
  color: var(--white);
  font-size: 2vh;
  font-weight: 600;
}

.Auth > .auth-modal > .auth-input::placeholder {
  color: var(--accent);
}

.Auth > .router > .user-name {
  color: var(--white);
  width: 15.5vw;
  font-weight: 600;
  cursor: pointer;
  margin-top: 3vh;
  text-align: right;
}

.Auth > .router > .user-img {
  position: absolute;
  width: 6vh;
  border-radius: 3vw;
  top: 1vh;
  margin-left: 17vw;
  cursor: pointer;
}

.Navbar {
  position: absolute;
  top: 0px;
}

.Navbar > .menu {
  list-style-type: none;
  padding-top: 10vh;
}

.Navbar > .menu > li {
  margin-top: 7vh;
}

.Navbar > .menu > li > .menu-point {
  color: var(--white);
  text-decoration: none;
  font-weight: 800;
  font-size: 2.6vh;
}

.Navbar > .menu > li > .menu-point > img {
  filter: invert(100%) sepia(0%) saturate(3527%) hue-rotate(211deg) brightness(111%) contrast(101%);
  width: 4vh;
  position: absolute;
  margin-top: -.5vh;
}

.Navbar > .menu > li > .menu-point > span {
  padding-left: 7vh;
}

.Navbar > .menu > li > .menu-point > span:hover {
  text-decoration: underline;
}

.Profile > .basedata {
  margin-left: 22vw;
  margin-top: 7vh;
  width: 73vw;
}

.Profile > .basedata > .image {
  width: 10vw;
  border-radius: 10vw;
}

.Profile > .basedata > .name {
  color: var(--white);
  display: inline-block;
  position: absolute;
  margin-top: 12vh;
  margin-left: 3vw;
  font-size: 2vh;
}

.Profile > .basedata > .userName {
  color: var(--white);
  display: inline-block;
  position: absolute;
  margin-left: 3vw;
  font-size: 4.5vh;
  font-weight: 600;
}

.Profile > .basedata > .rating {
  color: var(--white);
  display: inline-block;
  position: absolute;
  top: 10vh;
  margin-left: 26.5vw;
  text-align: right;
  width: 35vw;
  font-size: 12vh;
  font-weight: 900;
}

.timer{
  color: white;
  margin-left: 40vh;
  margin-top: -70vh;
  width: 40%;
  text-align: center;
}

.score{
  color: white;
}

.rush-end-dialog{
position: absolute;
top: 15vh;
left: -32.5vw;
z-index: 15;
}

.rush-end-button{
  position:absolute;
  margin-left: 2vh;
  margin-top: 0vh;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
}

.CreateRace > .timeframe-label {
  text-align: center;
  color: var(--white);
  font-size: 2.4vh;
  font-weight: 600;
  margin-top: 10vh;
}

.CreateRace > .timeframe-select {
  width: 10vw;
  margin-left: calc((100vw - 10vw) / 2);
  font-size: 3vh;
  background-color: var(--white);
  border: 3px solid var(--white);
  border-radius: 1vw;
  padding: 1vw;
  padding-right: 2vw;
  color: var(--accent);
  outline: none;
  font-weight: 600;
}

.CreateRace > .create-btn {
  width: 15vw;
  margin-left: calc((100vw - 15vw) / 2);
  margin-top: 10vh;
  align-items: center;
  font-weight: 600;
  font-size: 25px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
}

.CreateRace > .create-btn:active {
  transform: scale(.97);
}

.CreateRace > .link {
  color: var(--white);
  font-weight: 700;
  font-size: 4vh;
  text-decoration: underline;
  margin-left: 1vw;
  user-select: all;
}

.CreateRace > .link-description {
  color: var(--white);
  font-weight: 500;
  font-size: 3vh;
  margin-left: 30vw;
  margin-top: 7vh;
}

.CreateRace > .copy-btn {
  filter: invert(100%) sepia(0%) saturate(3527%) hue-rotate(211deg) brightness(111%) contrast(101%);
  margin-left: 30vw;
  width: 2vw;
  cursor: pointer;
}

.CreateRace > .copy-btn:active {
  transform: scale(.9);
}

.CreateRace > .playerList,
.RacePage > .playerList {
  margin-top: 10vh;
  margin-left: 20vw;
}

.CreateRace > .playerList > .playerListElement,
.RacePage > .playerList > .playerListElement {
  width: 20vh;
  height: 20vh;
  background-color: var(--accent);
  border-radius: 20vh;
  margin-left: 2vw;
  float: left;
}

.CreateRace > .playerList > .playerListElement > .playerName,
.RacePage > .playerList > .playerListElement > .playerName {
  width: 20vh;
  padding-top: 5vh;
  color: var(--white);
  font-weight: 700;
  text-align: center;
}

.CreateRace > .start-btn,
.RacePage > .join-btn {
  position: absolute;
  width: 15vw;
  left: calc((100vw - 15vw) / 2);
  top: 85vh;
  align-items: center;
  font-weight: 600;
  font-size: 25px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
}

.CreateRace > .start-btn:active,
.RacePage > .join-btn:active {
  transform: scale(.97);
}

.RacePage > .waiting-label {
  color: var(--white);
  font-size: 3vh;
  font-weight: 600;
  margin-top: 10vh;
  margin-left: 35vw;
}

.RacePage > .extramargin {
  margin-left: 47vw;
}

.RacePage > .board-container {
  position: relative;
  height: 72vh;
  margin-top: 5.5vh;
  margin-left: calc((100vw - 72vh) / 2);
}

.leaderboard-container{
  height: 72vh;
  min-width: 72vh;
  position: relative;
  margin-top: 5.5vh;
  margin-left: calc((100vw - 72vh) / 2);
  color: white;
}

.leader-board-table{
  width: 72vh;
  height: 100%;
}

.user-img-leaderboard{
  border-radius: 2vw;
  width: 9vh;
}

.user-dial{
  display: flex;
  justify-content: space-around;
}

.leader-board-row{
  text-align: center;
}

.leader-board-title th{
  border-bottom: 1px solid white;
}

.leaderboard-container > h1{
  width: 72vh;
  text-align: center;
}

.place-in-leaderboard{
  background-color: rgba(255, 255, 0, 0.664);
}